@use "@/assets/variables.scss" as color;

.main-menu {

    @media (min-width: 768px) {
        margin: 0 auto;
    }

    &__wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(color.$black, 0.1);

        @media (min-width: 768px) {
            position: static;
            background-color: transparent;
            width: auto;
            height: auto;
        }

    }

    &__content {
        height: 100vh;
        margin-left: auto;
        background-color: color.$main-bg-light;
        padding: 12px 20px;
        width: 100%;
        max-width: 222px;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.4px;


        @media (min-width: 480px) {
            max-width: 282px;
            font-size: 24px;
            line-height: 31.2px;

        }

        @media (min-width: 768px) {
            height: auto;
            margin-left: 0;
            background-color: transparent;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            line-height: 20.8px;
            padding: 0;
            max-width: none;
        }

        @media (min-width: 1000px) {
            gap: 12px;
        }
    }

    &__btn {
        border: none;
        outline: none;
        background-color: transparent;
        width: 44px;
        height: 44px;
        display: flex;
        cursor: pointer;
        margin-left: auto;

        &:hover {
            svg path {
                stroke: color.$bright-color-light;
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        svg {
            display: block;
            margin: auto;
        }

        &--open,
        &--close {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &:not(last-child) {
            margin-bottom: 32px;

            @media (min-width: 480px) {
                margin-bottom: 36px;
            }

            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        @media (min-width: 480px) {
            gap: 36px;
        }

        @media (min-width: 768px) {
            order: 1;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
        }

        @media (min-width: 1000px) {
            font-size: 20px;
            line-height: 26px;
            gap: 24px;
        }
    }

    &__link {
        &--active {
            color: color.$bright-color-light;
        }

        &:hover {
            color: color.$bright-color-light-1;
        }
    }

    &__ref {
        line-height: 22.68px;
        text-align: center;
        padding: 6px 16px;

        @media (min-width: 768px) {
            line-height: 20.16px;
        }

    }
}

