@use "../src/assets/variables.scss" as color;
@import '../src/assets/mixins.scss';

.discount-products-block {
    @include responsiveMarginBottom;

    &__list {
        @include itemsList;
        margin-bottom: 24px;

        @media (min-width: 480px) {
            margin-bottom: 0;
        }
    }

    &__item {
        border: 1px solid color.$text-light-2;
        border-radius: 12px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    &__btn {
        align-self: center;

        @media (min-width: 480px) {
            display: none;
        }
    }
}