@use "../src/assets/variables.scss" as color;
@import '../src/assets/mixins.scss';

.price-range-filter {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (min-width: 768px) {
        gap: 16px;
    }

    &__input {
        @include roundLightBorder;
        padding: 8px 16px;
        width: 112px;
        color: color.$main-text-light;
        background-color: color.$white;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        outline: none;

        &::placeholder {
            color: color.$text-light-1;
        }

        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 20.16px;          
        }
    }

}