@use "../src/assets/variables.scss" as color;
@import '../src/assets/mixins.scss';

.price-range-filter {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (min-width: 768px) {
        gap: 16px;
    }

    &__input {
        @include roundLightBorder;
        padding: 8px 16px;
        width: 112px;
        color: color.$main-text-light;
        background-color: color.$white;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        outline: none;
        background-color: transparent !important;
        outline: none;
        -webkit-box-shadow: 0 0 0px 1000px color.$white inset !important;
        box-shadow: 0 0 0px 1000px color.$white inset !important;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            color: color.$main-text-light !important;
            -webkit-text-fill-color: color.$main-text-light !important;
            background-color: color.$white !important;
            -webkit-box-shadow: 0 0 0px 1000px color.$white inset !important;
            box-shadow: 0 0 0px 1000px color.$white inset !important;
            transition: background-color 5000s ease-in-out 0s !important;
        }

        &::placeholder {
            color: color.$text-light-1;
        }

        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 20.16px;          
        }
    }

}