@use "../src/assets/variables.scss" as color;
@import '../src/assets/mixins.scss';

.products-block {

    &__list {
        display: grid;
        width: 100%;
        gap: 20px;

        @media (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1000px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 1440px) {
            gap: 32px;
        }
    }


    &__item {
        width: 100%;
        display: block;
        min-height: 335px;
        border-radius: 12px;
        overflow: hidden;

        @media (min-width: 480px) {
            min-height: 358px;
        }

        @media (min-width: 768px) {
            min-height: 372px;
        }

        @media (min-width: 1000px) {
            min-height: 398px;
        }

        @media (min-width: 1440px) {
            min-height: 422px;
        }
    }
}