@use "../src/assets/variables.scss" as color;
@import '../src/assets/mixins.scss';


.light-mode {
    color: color.$main-text-light;
    background-color: color.$main-bg-light;
}


.dark-mode {
    color: color.$main-text-dark;
    background-color: color.$main-bg-dark;

    .utility-bar {
        &__link {
            svg path {
                stroke: color.$text-dark;
            }

            &:hover {
                svg path {
                    stroke: color.$bright-color-light;
                }
            }
        }

        &__link--cart {
            svg path {
                fill: color.$text-dark;
            }

            &:hover {
                svg path {
                    fill: color.$bright-color-light;
                }
            }
        }
    }

    .main-menu {

        &__btn {
            svg path {
                stroke: color.$text-dark;
            }

            &:hover {
                svg path {
                    stroke: color.$bright-color-light;
                }
            }
        }

        &__content {
            background-color: color.$main-bg-dark;
        }
    }

    .heading {
        &__link {
            color: color.$text-dark-1;
            border-color: color.$text-dark-1;

            &:hover {
                color: color.$bright-color-light;
                border-color: color.$bright-color-light;
            }
        }

        &__decor {
            background-color: color.$text-dark-1;
        }
    }

    .category {
        &__title {
            color: color.$main-text-dark;
        }
    }



    .contact {
        background-color: color.$bg-dark;

        &__content {
            color: color.$main-text-dark;
        }
    }

    .socials {
        &__link {
            svg path {
                fill: color.$main-text-dark;
            }

            &:hover {
                svg path {
                    fill: color.$bright-color-light;
                }
            }
        }
    }

    .breadcrumbs {
        &__item {
            &:not(:last-of-type)::after {
                background-color: color.$text-dark-1;
            }
        }

        &__link {
            border-color: color.$text-dark-1;

            &--active {
                color: color.$main-text-dark;
            }
        }

    }

    .discount-popup {
        .product-card {
            &__content {
                background-color: color.$main-text-dark;
                color: color.$main-bg-dark;
            }


            &:hover {
                .product-card__content {
                    color: color.$bright-color-light-1;
                }
            }
        }
    }

    .error-block {
        &__title {
            color: color.$main-text-dark;
        }

        &__content {
            color: color.$light-grey;
        }
    }



    .product {
        &__image {
            border-color: transparent;
        }

        &__percentage {
            background-color: color.$bright-color-light;
        }

        &__icon {
            svg path {
                fill: none;
                stroke: color.$light;
            }

            &:hover {
                svg path {
                    fill: color.$light;
                    stroke: color.$light;
                }
            }
        }

        &__descr {
            p {
                color: color.$light-grey;
            }
        }
    }

    .product-block {
        border-color: color.$text-dark-1;
        background-color: color.$bg-dark;

        &__count {
            background-color: transparent;
            border-color: color.$text-dark-1;

            button {
                border-color: color.$text-dark-1;
            }

            input {
                color: color.$white;
            }
        }

        &__icon {
            svg path {
                stroke: color.$light;
            }

            &:hover {
                svg path {
                    stroke: color.$bright-color-light;
                }
            }
        }
    }

    .cart-form {
        background-color: color.$bg-dark;

        &__price {
            color: color.$main-text-dark;
        }

        &__input {
            border-color: color.$text-dark-1;
            background-color: color.$main-bg-dark !important;
            color: color.$main-text-dark !important;
            box-shadow: 0 0 0px 1000px color.$main-bg-dark inset !important;


            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px color.$main-bg-dark inset !important;
                -webkit-text-fill-color: color.$main-text-dark !important;
            }

            &::placeholder {
                color: color.$text-dark-1 !important;
            }
        }


    }
}