@use "../src/assets/variables.scss" as color;

.discount-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(40, 40, 40, 0.4);
   /*  display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 10;
    padding: 0 20px;

    &__card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;

        //margin: 0 20px;
        color: color.$white;
        border-radius: 8px;
        max-width: 548px;
        width: calc(100% - 40px);
        border-radius: 12px;
       
        background-color: color.$bright-color-light;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (min-width: 768px) {
            
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 100%;
        padding: 20px;

        @media (min-width: 768px) {
            gap: 16px;
            padding: 32px;

        }
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media (min-width: 480px) {
            flex-direction: row;
            gap: 60px;
        }

        @media (min-width: 768px) {
            gap: 40px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 30.8px;

        @media (min-width: 480px) {
            font-size: 36px;
            line-height: 39.6px;
        }

        @media (min-width: 768px) {
            font-size: 40px;
            line-height: 44px;
        }
    }


    &__btn-close {
        border: none;
        outline: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        cursor: pointer;
        margin-left: auto;

        @media (min-width: 480px) {
            order: 1;
        }

        &:hover {
            svg path {
                stroke: color.$main-text-light;
            }
        }

        svg {
            display: block;
            margin: auto;
        }

    }
}