@use "@/assets/variables.scss" as color;

.discount-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: 768px) {
        gap: 12px;
    }

    @media (min-width: 1440px) {
        gap: 16px;
    }

    &__item {
        flex-grow: 1;

        &:last-of-type {
            margin-bottom: 8px;

            @media (min-width: 1440px) {
                margin-bottom: 16px;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 12px 20px;
        border-radius: 6px;
        border: 1px solid color.$bg-light-1;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.4px;
        outline: none;
        color: color.$white;
        background-color: transparent !important;
        outline: none;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        box-shadow: 0 0 0px 1000px transparent inset !important;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            color: color.$white !important;
            -webkit-text-fill-color: color.$white !important;
            background-color: transparent !important;
            -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
            box-shadow: 0 0 0px 1000px transparent inset !important;
            transition: background-color 5000s ease-in-out 0s !important;
        }

        @media (min-width: 768px) {
            padding: 15px 20px;
            font-size: 20px;
            line-height: 26px;

        }

        &::placeholder {
            color: color.$white;
        }
    }

    &__btn.btn--white {
        padding: 12px 20px;

        @media (min-width: 1440px) {
            padding: 16px 32px;
        }
    }

    &__success {
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 20.16px;
        }
    }

    &__error {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        margin-top: 4px;

        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 20.16px;
            margin-top: 8px;
        }

        img {
            display: block;
            width: 16px;
            height: 16px;
            object-fit: contain;

            @media (min-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }
    }
}