@mixin responsiveMarginBottom {
    margin-bottom: 56px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 70px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 80px;
    }
}