@use "./variables.scss" as color;

@mixin responsiveMarginBottom {
    margin-bottom: 56px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 70px;
    }

    @media (min-width: 1440px) {
        margin-bottom: 80px;
    }
}

@mixin responsiveMarginTop {
      margin-top: 32px;  

    @media (min-width: 768px) {
        margin-top: 32p
    }
    
    @media (min-width: 1000px) {
        margin-top: 40px;
    }
}

@mixin itemsList {
    display: grid;
    width: 100%;
    gap: 20px;

    >li {
        width: 100%;
        display: block;
        min-height: 335px;

        @media (min-width: 480px) {
            min-height: 358px;
        }

        @media (min-width: 768px) {
            min-height: 372px;
        }
    
        @media (min-width: 1000px) {
            min-height: 398px;
        }
    
        @media (min-width: 1440px) {
            min-height: 422px;
        }
    }

    @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1440px) {
        gap: 32px;
    }
}

@mixin roundLightBorder {
    border: 1px solid color.$text-light-2;
    border-radius: 6px;
}






