$white: #fff;
$black: #000;
$light: #FFFFF1;
$light-1: #FFFFF1;
$light-2: #FFFFF2;
$light-3: #F2F6D3;

$grey: #8B8B8B;
$light-grey: #DDDDDD;
$dark-grey: #282828;
$dark: #424436;
$dark-1: #383A2C;



//light-thema
$main-text-light: $dark;
$text-light-1: $grey; 
$text-light-2: $light-grey; 
$text-light-3: $dark-grey;

$bright-color-light:  #92A134;
$bright-color-light-1:  #F26D22;


$main-bg-light: $light-2;
$bg-light-1: $light;
$bg-light-2: $light-3;


//contacts
$contacts-bg-light: $bg-light-2;
$contacts-text-light: $text-light-1;
$contacts-text-light-1: $text-light-3;



//category
$category-text: $text-light-3;

//dark-mode

$main-bg-dark: $main-text-light;
$main-text-dark: $white;

$text-dark: $light-1;
$text-dark-1: $grey;
$bg-dark: $dark-1;



















