@use "@/assets/variables.scss" as color;
@import '@/assets/mixins.scss';


.breadcrumbs {
    @include responsiveMarginTop;
    display: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;

    @media (min-width: 768px) {
        display: block;
    }

    &__list {
        height: 100%;

        @media (min-width: 768px) {
            display: flex;
            gap: 16px;
            align-items: stretch;
        }
    }

    &__item {
        min-height: 100%;

        &:not(:last-of-type) {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 16px;
                background-color: color.$text-light-2;
                top: 50%;
                left: calc(100% + 1px);
            }
        }
    }

    &__link {
        padding: 8px 16px;
        border-radius: 6px;
        border: 1px solid color.$text-light-2;
        display: block;
        color: color.$text-light-1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &:not(&--active):hover {
            color: color.$bright-color-light;
            border-color: color.$bright-color-light;
        }

        &--active {
            color: color.$main-text-light;
            cursor: default;
        }
    }
}